.genre-badge {
    padding-left: 40px;
    position: fixed;
    top: 90px;
    z-index: 1;
}

.genre-badge_wrap {
    display: flex;
    flex-flow: column;
    background: rgba(2, 48, 60, 0.1);
}

.genre-badge_wrap > button {
    margin-bottom: 10px;
}

/**/
.theme_light .badge_selected {
    background: rgba(2, 48, 60, 0.02);
}
.theme_dark .badge_selected {
    background: rgba(8, 188, 232, 0.2);
}
