* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    color: #5e6573;
}


a {
    text-decoration: none;
}

.wrap {
    display: flex;
}

.theme_light {

}

.theme_dark {

}